.additional {
  padding-left: 20px;
  padding-right: 20px;
}

.additional__item {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 17px;
}

.additional__title {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-top: 30px;
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    right: -20px;
    top: 10px;
    width: 53px;
    height: 3px;
    background-color: @main-color;
  }

  &::after {
    display: block;
    content: "";
    width: 280px;
    height: 1px;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 36px;
  }
}

.additional__item-title {
  margin: 0;
  margin-top: 13px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.additional__table {
  margin-top: 10px;
  margin-bottom: 12px;
  border-collapse: collapse;
  width: 280px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

.additional__value {
  padding: 0;
}

.additional__field {
  text-align: right;
  padding: 0;
}
