.advantages__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.advantages__heading {
  margin: 0;
  margin-top: 40px;
  font-size: 36px;
  font-weight: 300;
}

.advantages__list {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 48px;
  padding-bottom: 40px;
}

.advantages__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  display: flex;

  &--helpful {
    display: block;
    background: url("../img/advantage-leaf@1x.png") no-repeat center center;
    background-color: @main-color;
    width: 60px;
    height: 60px;
  }

  &--cooking {
    display: block;
    background: url("../img/advantage-powder@1x.png") no-repeat center center;
    background-color: @main-color;
    width: 60px;
    height: 60px;
  }

  &--replacement {
    display: block;
    background: url("../img/advantage-dining@1x.png") no-repeat center center;
    background-color: @main-color;
    width: 60px;
    height: 60px;
  }

  &--change {
    display: block;
    background: url("../img/advantage-clock@1x.png") no-repeat center center;
    background-color: @main-color;
    width: 60px;
    height: 60px;
  }
}

.advantages__description {
  margin: 0;
  padding-left: 80px;
  padding-top: 2px;
  width: 200px;
}
