.banner {
  margin-bottom: 0px;
}

.banner__place {
  margin: 0 auto;
  margin-top: 40px;
  width: 280px;
  height: 289px;
  background: url(../img/gift-photo-mobile@1x.jpg) no-repeat center center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.banner__image {
  width: 55px;
  height: 60px;
  margin: auto;
  margin-top: 65px;
}

.banner__link {
  display: block;
  width: 165px;
  color: white;
  font-size: 16px;
  font-family: 'Arial';
  margin: auto;
  margin-top: 15px;
}
