.catalog__list {
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__item {
  width: 280px;
  display: flex;
  flex-wrap: wrap;

  &::after {
    display: block;
    content: "";
    width: 320px;
    height: 1px;
    border-bottom: 1px solid #ededed;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 23px;
  }
}

.button--catalog {
  width: 280px;
  font-size: 16px;
}

.catalog__item-title {
  width: 77px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-flex;
  margin-top: 22px;
}

.catalog__properties {

  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 9px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
}

.catalog__line {
  display: flex;
  justify-content: space-between;
}

.catalog__value,
.catalog__field {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: @text-color;
}

.catalog__item-add {
  text-align: center;

  &::after {
    display: block;
    content: "";
    width: 320px;
    height: 1px;
    border-bottom: 1px solid #ededed;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 23px;
  }
}

.catalog__item-button {
  background: url("../img/icon-plus-mobile.svg");
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 26px;
  opacity: 0.2;
  cursor: pointer;
}

.catalog__button-add-text {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
}

.catalog__add-slogan {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  margin: 0;
  margin-bottom: 20px;
}

.button--silver {
  background-color: @bg-silver;
  color: black;
  font-size: 16px;
}

.button--form {
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 23px;
  margin-bottom: 5px;
}

.contacts__card--silver {
  background-color: @bg-silver;
  padding: 28px 20px 28px 20px;
  margin: 0;
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .catalog__item {
    min-width: 324px;
    min-height: 570px;
    background-color: @bg-silver;
    display: flex;
    flex-direction: column;
    text-align: center;

    &::after {
      border: none;
    }
  }

  .catalog__item-title {
    font-size: 20px;
    line-height: 20px;
    min-width: 135px;
  }

  .catalog__properties {
    width: 250px;
    margin: auto;
  }

  .catalog__value,
  .catalog__field {
    font-size: 16px;
    font-family: "Arial", sans-serif;
  }

  .catalog__line {
    border-bottom: 1px solid silver;
  }

  .button--catalog {
    margin: auto;
    width: 249px;
  }

  .catalog__item-add {
    min-width: 322px;
    min-height: 568px;
    border: 1px solid @bg-silver;

    &::after {
      border-bottom: none;
    }
  }

  .catalog__item-button {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1300px;
    margin: 0 auto;
  }

  .catalog__list {
    justify-content: flex-start;
    width: 1300px;
    margin-left: 0;
  }

  .catalog__item {
    min-width: auto;
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .catalog__item-add {
    min-width: auto;
    width: 243px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .catalog__properties {
    width: 200px;
  }

  .button--catalog {
    width: 169px;
  }
}
