.categories__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}
.categories__list {
  list-style: none;
  margin: 0;
  padding: 0;

}
.categories__item {
  padding-left: 20px;
  padding-right: 20px;
  background-color: @bg-silver;
  &--losweight {
    position: relative;
    padding-top: 25px;
    padding-left: 20px;
    &::before{
      display: inline-block;
      vertical-align: top;
      content: '';
      background-color: @main-color;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 2px;
    }
    &::after {
      display: block;
      content: '';
      background: url(../img/icon-cat-slim.svg) no-repeat center center;
      margin-left: 2px;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 20px;
    }
  }
  &--upweight {
    position: relative;
    margin-top: 20px;
    padding-top: 26px;
    &::before {
      display: inline-block;
      vertical-align: top;
      content: '';
      background-color: @main-color;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 2px;
    }
    &::after {
      display: block;
      content: '';
      background: url(../img/icon-cat-pro.svg) no-repeat center center;
      width: 70px;
      height: 50px;
      position: absolute;
      top: 25px;
      left: 10px;
      margin-left: 2px;
    }
  }
}
.categories__title {
  margin: 0;
  margin-left: 16px;
  margin-top: 14px;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
}
.categories__description {
  margin-top: 20px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  color: @text-color;
}
.categories__link {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  margin-top: 42px;
  padding-bottom: 20px;
  position: relative;
  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 240px;
    height: 1px;
    background-color: silver;
    top: -20px;
  }
  &::after {
    display: block;
    content: '';
    position: absolute;
    background: url(../img/icon-right-arrow-long.svg) no-repeat 0 0;
    width: 24px;
    height: 11px;
    top: 3px;
    right: 120px;
  }
}
