.copyright {
  display: flex;
  width: 280px;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: space-between;
}

.copyright__text {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: @text-color;
}

.copyright__link {
  order: 2;
}

.copyright__image {
  margin-top: 10px;
}

.copyright__image:hover,
.copyright__image:focus {
  fill: @main-color;
}

.copyright__image:active {
  opacity: 0.3;
}

.copyright__link:active ~ .copyright__text {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 164px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-right: 0;
  }
}
