.copyright {
  display: flex;
  min-width: 280px;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: @text-color;
}

.copyright__link {
  order: 2;

  &:hover .copyright__image,
  &:focus .copyright__image {
    fill: @main-color;
  }

  &:active {
    opacity: 0.3;
  }

  &:active ~ .copyright__text {
    opacity: 0.3;
  }
}

.copyright__image {
  fill: #666666;
  width: 27px;
  height: 34px;
}

@media (min-width: @tablet-width) {
  .copyright {
    min-width: auto;
    width: 162px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .copyright__text {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: 245px;
    justify-content: flex-end;
    align-items: center;
  }

  .copyright__image {
    margin-left: 23px;
  }
}
