.example {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 41px;
  background-color: @bg-silver;
}

.example__title {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 44px;
}

.example__description {
  font-size: 14px;
  font-family: "Arial", "Tahoma", sans-serif;
  margin: 0;
  padding-bottom: 14px;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.example__item {
  &--weight {
    position: relative;

    .example__text {
      padding: 0 10px;
      position: absolute;
      top: 58px;
      right: 26px;
      background-color: @bg-silver;
    }
  }

  &--days {
    position: relative;

    .example__text {
      padding: 0 10px;
      position: absolute;
      top: 58px;
      right: 25px;
      background-color: @bg-silver;
    }
  }

  &--result {
    padding-top: 36px;
    padding-left: 47px;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.example__value {
  border: 1px solid silver;
  width: 122px;
  height: 37px;
  margin: 0;
  margin-top: 10px;
  padding-top: 17px;
  font-size: 24px;
  border-radius: 3px;
  text-transform: uppercase;
}

.example__text {
  margin: 0;
  width: 55px;
  font-size: 12px;
  font-family: "Arial", "Tahoma", sans-serif;
  line-height: 12px;
}

@media (min-width: @tablet-width) {
  .example {
    min-width: 768px;
    padding: 0;
    background-color: white;
  }

  .example__wrapper {
    margin-top: 67px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .example__wrapper-2 {
    margin-top: 255px;
    height: 462px;
    position: relative;
    display: flex;
    background: linear-gradient(to right, @bg-silver 50%, #eaeaea 50%);
  }

  .example__title {
    font-size: 60px;
    margin: 0;
    padding-bottom: 83px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    color: @text-color;
    width: 700px;
    padding-bottom: 53px;
  }

  .example__list {
    justify-content: flex-start;
    width: 708px;
    margin-right: 30px;
  }

  .example__item {
    &--weight {
      margin-right: 42px;

      .example__text {
        top: 64px;
        right: 22px;
        width: 100px;
        background-color: white;
      }
    }

    &--days {
      .example__text {
        top: 64px;
        right: 12px;
        width: 127px;
        padding: 0 6px;
        background-color: white;
      }
    }

    &--result {
      margin-left: auto;
      padding-top: 7px;
      width: 192px;
      text-align: right;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .example__value {
    width: 160px;
    height: 45px;
    font-size: 30px;
    padding-top: 25px;
    margin: 0;
  }

  .example__text {
    font-size: 14px;
  }

  .example__result {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 37px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background: linear-gradient(to right, @bg-silver 70%, #eaeaea 30%);
  }

  .example__center {
    width: 1300px;
    margin: auto;
    display: flex;
    margin-top: 200px;
    background: linear-gradient(to right, @bg-silver 75%, #eaeaea 25%);
  }

  .example__title {
    width: 365px;
    margin: 0;
    margin-top: -137px;
    padding-bottom: 146px;
    margin-left: 40px;
    line-height: 60px;
  }

  .example__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 462px;
    margin: 0;
    background-color: @bg-silver;
    width: 570px;
  }

  .example__wrapper-2 {
    min-height: 462px;
    position: relative;
    flex-grow: 1;
    width: 690px;
  }

  .example__description {
    margin-left: auto;
    width: 432px;
    margin-right: 97px;
    padding-bottom: 68px;
  }

  .example__list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 164px;
  }

  .example__item {
    &--result {
      margin: 0;
      width: 370px;
      text-align: left;
      padding: 0;
      padding-top: 56px;
      padding-left: 5px;
      padding-bottom: 20px;
    }

    .example__text {
      background-color: @bg-silver;
    }
  }

  .example__item-padding {
    margin-left: 58px;
  }
}
