.main-nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.main-nav__logo {
  margin-left: 20px;
  margin-top: 11px;
  margin-bottom: 13px;
  width: 191px;
  // display: flex;
  justify-content: space-between;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__logo-image {
  width: 33px;
  height: 38px;
}

.main-nav__logo-text {
  margin-top: 13px;
}

.main-nav__toggle-close {
  background: url("../img/icon-close.svg") no-repeat center center;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 23px;
  display: none;
  cursor: pointer;
}

.main-nav__toggle {
  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat 0 0;
  background-color: transparent;
  width: 24px;
  height: 18px;
  margin-top: 23px;
  position: absolute;
  right: 20px;
  overflow: hidden;
  cursor: pointer;
}

.main-nav__toggle:focus {
  outline: none;
}

.main-nav__wrapper {
  width: 100%;
  background: white;
  z-index: 1000;
  display: none;
}

.main-nav--closed .main-nav__wrapper {
  width: 100%;
  z-index: 1000;
  display: none;
}

.main-nav--opened .main-nav__wrapper {
  width: 100%;
  z-index: 1000;
  display: block;
}

.main-nav--opened .main-nav__toggle-close {
  display: block;
}

.main-nav--opened .main-nav__toggle {
  display: none;
  background: url("../img/icon-close.svg") no-repeat center center;
  width: 18px;
  height: 18px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  display: block;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #ededed;
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-width: 768px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__logo {
    width: 173px;
    height: 58px;
    margin-top: 24px;
    margin-left: 30px;
    // justify-content: space-between;
  }

  .main-nav__logo-image {
    width: auto;
    height: auto;
  }

  .main-nav__logo-text {
    width: 84px;
    height: 16px;
    display: none;
  }

  .main-nav__toggle {
    display: none;
    overflow: hidden;
  }

  .main-nav--closed .main-nav__wrapper {
    width: 516px;
    display: flex;
    margin-right: 30px;
    margin-top: 47px;
  }

  .main-nav__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 300;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1300px;
    margin: 0 auto;
  }

  .main-nav__logo {
    width: 202px;
    height: 59px;
    margin-left: 40px;
    margin-top: 54px;
  }

  .main-nav__logo-image {
    // width: 70px;
    // height: 59px;
  }

  .main-nav__logo-text {
    width: 118px;
    height: 22px;
  }

  .main-nav--closed .main-nav__wrapper {
    width: 570px;
    margin-right: 40px;
    margin-top: 77px;
    background-color: transparent;
  }

  .main-nav__list {
    width: 40%;
    font-size: 20px;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    z-index: 1000;
    margin-right: 40px;
  }
}
