.main-nav__toggle {
  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat 0 0;
  background-color: transparent;
  width: 24px;
  height: 18px;
  margin-right: 20px;
  margin-top: 24px;
}

.main-nav__wrapper {
  display: none;
}
