.page-main{
  width: 320px;
  margin: 0 auto;
}
.page-main__title{
  font-weight: 300;
  font-size: 36px;
  padding-left: 20px;
  margin-top: 38px;
  margin-bottom: 0px;
  padding-bottom: 47px;
  border-bottom: 1px solid #ededed;
}
.page-main__title--form{
  border-bottom: none;
  padding-bottom: 45px;
}
.page-main__slogan{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
  margin-left: 20px;
  margin-top: 0;
}
