.page-footer {
  margin: 0;
  background-color: @bg-silver;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  padding: 39px 0 32px 0;
}

.page-footer__copyright {
  padding-top: 15px;
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-footer {
    height: 150px;
    display: flex;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 768px;
  }

  .page-footer__logo {
    padding: 0;
    margin: 0;
    margin-right: 14px;
  }

  .page-footer__copyright {
    margin: 0;
    padding-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    height: 140px;
    display: flex;
  }

  .page-footer__wrapper {
    width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
    margin-right: 100px;
    align-items: left;
  }

  .page-footer__copyright {
    margin: 0;
    padding: 0;
  }
}
