.page-header{
  width: 320px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
}
.page-header__logo{
  margin-left: 20px;
  margin-top: 11px;
  width: 191px;
  display: flex;
  justify-content: space-between;
}
.page-header__logo{
}
.page-header__logo-text{
    margin-top: 13px;
  }
