.questionary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.questionary__field {
  border: none;
  padding: 0;
  margin: 0;

  &--info {
    margin-top: 24px;

    &::after {
      display: block;
      content: "";
      width: 320px;
      height: 1px;
      border-bottom: 1px solid #ededed;
      margin-left: -20px;
      padding-top: 8px;
    }
  }

  &--category {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &::after {
      display: block;
      content: "";
      width: 320px;
      height: 1px;
      border-bottom: 1px solid #ededed;
      margin-left: -20px;
      padding-top: 8px;
    }
  }

  &--contacts {
    margin-top: 32px;
  }

  &--additionally {
    display: flex;
    flex-direction: column;
  }
}

.questionary__stroke {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.questionary__label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}

.questionary__input {
  flex-grow: 1;
  margin-left: 15px;
  border: 1px solid #e6e6e6;
  height: 41px;
}

.questionary__input--comment {
  margin-top: 35px;
  width: 278px;
  height: 145px;
  resize: none;
  margin-left: 0;
}

.questionary__mail-icon {
  position: absolute;
  display: block;
  background: url("../img/icon-mail.svg") no-repeat center center;
  width: 17px;
  height: 13px;
  left: 247px;
  top: 3px;
}

.questionary__tel-icon {
  position: absolute;
  display: block;
  background: url("../img/icon-phone.svg") no-repeat center center;
  width: 20px;
  height: 20px;
  left: 247px;
  top: 0;
}

::-webkit-input-placeholder {
  color: @text-color;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  padding-left: 15px;
  text-transform: uppercase;
}

::-moz-placeholder {
  color: @text-color;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  padding-left: 15px;
  text-transform: uppercase;
}

:-moz-placeholder {
  color: @text-color;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  padding-left: 15px;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  color: @text-color;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  padding-left: 15px;
  text-transform: uppercase;
}

.questionary__toggle {
  display: none;
}

.questionary__btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  position: relative;
  margin-bottom: 12px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: @main-color;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: scale(0);
    transition: 0.4s;
  }

  .questionary__name {
    padding-left: 45px;
    padding-top: 6px;
    display: block;
    width: 230px;
  }
}

.questionary__toggle:checked + .questionary__btn::before {
  transform: scale(1);
}

.questionary__title {
  display: flex;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  position: relative;

  &--1 {
    padding-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      width: 99px;
      height: 3px;
      background-color: @main-color;
      right: -20px;
      top: 10px;
    }
  }

  &--2 {
    padding-top: 15px;

    &::after {
      content: "";
      position: absolute;
      width: 158px;
      height: 3px;
      background-color: @main-color;
      left: 142px;
      top: 30px;
    }
  }

  &--3 {
    padding-top: 24px;
    padding-bottom: 34px;

    &::after {
      content: "";
      position: absolute;
      width: 136px;
      height: 3px;
      background-color: @main-color;
      left: 164px;
      top: 37px;
    }
  }
}

.questionary__checkbox {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #e6e6e6;
  position: relative;
  margin-bottom: 12px;

  &::after {
    position: absolute;
    content: "";
    display: block;
    background: url("../img/icon-tick.svg") no-repeat center center;
    width: 21px;
    height: 16px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: scale(0);
  }

  .questionary__heading {
    padding-left: 45px;
    padding-top: 6px;
    display: block;
    width: 200px;
  }
}

.questionary__toggle:checked + .questionary__checkbox::after {
  transform: scale(1);
}

.questionary__warning {
  text-align: center;
  color: @text-color;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  margin-bottom: -2px;
  margin-top: 14px;
}

.questionary__btn-field {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .questionary {
    width: 768px;
  }

  .questionary__stroke {
    width: 633px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .questionary__input {
    margin-left: 15px;
    height: 50px;
    padding: 0;

    &--comment {
      width: 629px;
      height: 157px;
      margin-top: 80px;
      margin-left: 71px;
      padding-top: 15px;
    }
  }

  .questionary__label {
    font-size: 20px;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 2px;
  }

  .questionary__field {
    &--info {
      margin-top: 44px;

      &::after {
        border: 0;
      }
    }

    &--category {
      &::after {
        border: 0;
      }
    }
  }

  ::-webkit-input-placeholder {
    font-size: 20px;
    padding-left: 17px;
    line-height: 20px;
  }

  ::-moz-placeholder {
    font-size: 20px;
    padding-left: 17px;
  }

  :-moz-placeholder {
    font-size: 20px;
    padding-left: 17px;
  }

  :-ms-input-placeholder {
    font-size: 20px;
    padding-left: 17px;
  }

  .questionary__box {
    border: 1px solid #e6e6e6;
    border-right: none;
    margin-top: 24px;
    margin-left: 72px;
    padding-top: 25px;
    padding-left: 27px;
    padding-bottom: 13px;
  }

  .questionary__btn {
    width: 38px;
    height: 38px;
    // margin-bottom: 20px;

    &::before {
      width: 18px;
      height: 18px;
    }
  }

  .questionary__name {
    font-size: 20px;
    margin-left: 12px;
    margin-top: 5px;
  }

  .questionary__title {
    font-size: 36px;
    margin-left: 70px;

    &--1 {
      padding-top: 42px;
      padding-bottom: 80px;

      &::after {
        width: 30px;
        left: -69px;
        top: 56px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 145px;
        height: 3px;
        background-color: @main-color;
        right: -188px;
        top: 56px;
      }
    }

    &--2 {
      padding-top: 53px;

      &::after {
        width: 30px;
        left: -69px;
        top: 67px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 480px;
        height: 3px;
        background-color: @main-color;
        left: 220px;
        top: 67px;
      }
    }

    &--3 {
      padding-top: 70px;

      &::after {
        width: 30px;
        left: -69px;
        top: 83px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 446px;
        height: 3px;
        background-color: @main-color;
        left: 252px;
        top: 83px;
      }
    }
  }

  .questionary__wrapper {
    &--line3{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 540px;
      margin-left: 71px;
      margin-top: 26px;
    }

  }

  .questionary__heading {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 12px;
  }

  .questionary__checkbox {
    width: 38px;
    height: 38px;
  }

  .questionary__line {
    width: 196px;
    margin-bottom: 20px;
  }

  .questionary__btn-field {
    width: 523px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 72px;
    margin-bottom: 39px;
  }

  .button--form {
    width: 283px;
    height: 52px;
    font-size: 20px;
  }

  .questionary__warning {
    font-size: 16px;
    margin-top: 37px;
  }

  .questionary__tel-icon {
    margin-left: 350px;
  }

  .questionary__mail-icon {
    margin-left: 350px;
  }
}

@media (min-width: @desktop-width) {
  .questionary {
    width: 1300px;
  }

  .questionary__wrapper {
    &--line1 {
      display: flex;
      justify-content: flex-start;
    }

    &--line2 {
      display: flex;
      justify-content: space-between;
    }

    &--line3 {
      width: 1220px;
      margin: 0;
      margin-left: 40px;
      margin-top: 28px;
    }
  }

  .questionary__line {
    width: 245px;

  }

  .questionary__field {
    &--info {
      width: 570px;
      margin-left: 40px;
    }

    &--category {
      width: auto;
    }
  }

  .questionary__stroke {
    width: 570px;
  }

  .questionary__label {
    padding: 0;
  }

  .questionary__box {
    width: 570px;
    margin-left: 80px;
  }

  .questionary__input {
    margin-left: 17px;
    font-size: 20px;
    font-family: "Oswald", "Arial", sans-serif;

    &--comment {
      margin-left: 40px;
      margin-right: 40px;
      width: 1218px;
    }
  }

  .questionary__title {
    &--1 {
      margin-left: 40px;
      padding-top: 18px;
    }

    &--2 {
      margin-left: 40px;
    }

    &--3 {
      margin-left: 40px;
      padding-top: 72px;
    }
  }

  .questionary__tel-icon {
    margin-left: 284px;
  }

  .questionary__mail-icon {
    margin-left: 286px;
  }

  .questionary__btn-field {
    width: 830px;
    justify-content: space-between;
    margin: 0;
    margin-left: 40px;
    margin-top: 27px;
    margin-bottom: 83px;
  }

  .button--form {
    width: 570px;
    margin: 0;
  }

  .questionary__warning {
    margin: auto 0;
  }
}


