.slider {
  width: 280px;
  overflow: hidden;
}

.slider__image-1 {
  background: url("../img/before-mobile@1x.png") no-repeat  -20px center;
  width: auto;
  height: 232px;
  margin-top: 37px;
}

.slider__toggle {
  display: none;
}

.slider__control {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 43px;
  margin-top: 23px;
  padding-bottom: 20px;
}

.slider__text {
  text-transform: uppercase;
  font-size: 16px;
}

.slider__bar {
  display: flex;
  margin: auto;
  width: 84px;
  height: 12px;
  border-radius: 7px;
  background-color: white;
  border: 1px solid silver;
}

.slider__tog {
  margin: auto;
  width: 35px;
  height: 6px;
  background-color: white;
  border-radius: 3px;

  &::before {
    display: flex;
    content: "";
    width: 35px;
    height: 6px;
    background-color: @main-color;
    border-radius: 3px;
    transform: scale(0);
    transition: 0.4s;
    cursor: pointer;
  }
}

.slider__toggle--1:checked ~ .slider__control > .slider__bar > .slider__tog--1::before,
.slider__toggle--2:checked ~ .slider__control > .slider__bar > .slider__tog--2::before {
  transform: scale(1);
}

@media (min-width: @tablet-width) {
  .slider {
    min-width: 768px;
    height: 631px;
    position: relative;
    margin-top: 86px;
    margin-bottom: 0px;
  }

  .slider__control {
    margin-left: 98px;
    margin-top: 518px;
    width: 571px;
    z-index: 100;
    position: relative;
  }

  .slider__bar {
    width: 428px;
    height: 6px;
    border-radius: 3px;
    border: none;
    background-color: #dcdcdc;
    position: relative;
    margin-top: 26px;
  }

  .slider__tog {
    &--1 {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid #dcdcdc;
      top: -14px;
      position: relative;
      left: 2px;
      cursor: pointer;

      &::before {
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: @main-color;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
      }
    }

    &--2 {
      display: none;
    }
  }

  .slider__text {
    font-size: 20px;
    border-bottom: 1px solid silver;
    padding-bottom: 5px;
  }

  .slider__image-1 {
    background: url("../img/slide.png") no-repeat 0 0;
    width: 768px;
    height: 631px;
    z-index: 10;
    position: absolute;
    margin-top: 0;
    top: 0;
  }
}
