body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
  margin: -1px;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}
