@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmeduim.woff2") format("woff2"), url("../fonts/oswaldmeduim.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmeduim.woff2") format("woff2"), url("../fonts/oswaldmeduim.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  // background: url("../img/cat-energy-form-mobile.jpg") no-repeat 0 0;
  // background: url("../img/cat-energy-index-mobile.jpg") no-repeat 20px 0;
  // background: url("../img/cat-energy-catalog-mobile.jpg") no-repeat 0 0;
  opacity: 1;
}

.categories__br {
  display: none;
}

.contacts__br-address {
  display: none;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  body {
    min-width: 768px;
    margin: 0 auto;
    // background: url("../img/cat-energy-form-tablet.jpg") no-repeat 0 0;
    // background: url("../img/cat-energy-index-tablet.jpg") no-repeat 0 0;
    // background: url("../img/cat-energy-catalog-tablet.jpg") no-repeat 0 0;
  }

  .categories__br {
    display: block;
  }

  .contacts__br-address {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  body {
    min-width: 1300px;
    // background: url("../img/cat-energy-form-desktop.jpg") no-repeat 0 0;
    // background: url("../img/cat-energy-index-desktop.jpg") no-repeat 0 0;
    // background: url("../img/cat-energy-catalog-desktop.jpg") no-repeat 0 0;
    // opacity: 0.5;
  }

  .categories__br {
    display: none;
  }

  br {
    display: block;
  }
}
